RewriteEngine on
RewriteCond %{HTTP_HOST} ^ryanbecker.me$ [NC,OR]
RewriteCond %{HTTP_HOST} ^ryanbecker.me$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://ryanbecker.me/$1 [L]