body {
	background-color: #070301;
}

.bg-dark {
	background-color: #070301!important;
}

button {
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 1rem;
}

label {
	display: block;
	margin: 15px 0 5px 0;
	align-content: center;
}

input, textarea {
	width: 90%;
	padding: 8px;
}

section {
	padding-bottom: 100px;
}

footer {
	background-color: #FFFFFF;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding: 5px;
}

