body {
	background-color: #070301;
}

.bg-dark {
	background-color: #070301!important;
}

button {
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 1rem;
}

label {
	font-weight: bold;
	display: block;
	margin: 15px 0 5px 0;
	align-content: center;
}

input, textarea {
	width: 90%;
	padding: 8px;
}

section {
	padding-bottom: 150px;
}

#recaptcha {
	width: 304px;
	margin: 0 auto;
	justify-content: center;
}

footer {
	background-color: #FFFFFF;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-top: 10px;
}

.carousel-caption {
	font-size: xx-small;
}

@media only screen
and (min-width : 100px)
and (max-width : 500px) {

	.carousel-caption {
		font-size: .5em;
		padding-top: 20px;
	}
}
