body {
	background-color: #070301;
}

.bg-dark {
	background-color: #070301!important;
}

button {
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 1rem;
}

label {
	display: block;
	margin: 15px 0 5px 0;
}

input, textarea {
	width: 40%;
	padding: 8px;
}

section {
	padding-top: 25px;
	background-color: #FFFFFF;
}

footer {
	background-color: #FFFFFF;
}